/* For WebKit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
    width: 0.5em; /* Adjust as needed */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent; /* Hide the thumb */
  }
  
  /* For Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  
  /* Optional: To hide the scrollbar completely on Firefox */
  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
  